# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [1]:
import numpy as np

#### Create an array of 10 zeros

In [2]:
arr = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0])

#### Create an array of 10 ones

In [16]:
arr=np.ones(10)
print(arr)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#### Create an array of 10 fives

In [15]:
arr=np.full(10, 5)
print(arr)

[5 5 5 5 5 5 5 5 5 5]

#### Create an array of the integers from 10 to 50

In [14]:
arr=np.arange(10,51)
print(arr)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### Create an array of all the even integers from 10 to 50

In [13]:
arr=np.arange(10,51,2)
print(arr)

[10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50]

#### Create a 3x3 matrix with values ranging from 0 to 8

In [12]:
matrix= np.arange(9).reshape(3, 3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [11]:
matrix=np.eye(3)
print(matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [17]:
arr=np.random.random()
print(arr)

0.003290878127131691

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [18]:
arr = np.random.randn(25)
print(arr)

[-2.77490382e-01  4.32891078e-02 -1.02485403e+00  3.35204226e-01
 -1.07473713e+00 -1.69005056e+00  1.24577121e+00 -1.38755125e+00
  7.17758425e-01  8.54227373e-01  3.67053885e-01 -6.61103224e-01
  3.17362402e-01  3.60759980e-01 -1.44798399e-01  1.02332597e+00
 -1.30732162e-01  3.43947540e-01  9.79263840e-01 -1.30227903e-01
 -8.74253917e-02  6.79514747e-01  9.27957423e-04  2.05810605e+00
 -3.02863499e-01]

#### Create the following matrix:

In [19]:
array_1d = np.arange(0.01, 1.01, 0.01)
# Reshape the 1D array into a 10x10 array
arr_2d = array_1d.reshape(10, 10)
print(arr_2d)

[[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 ]
 [0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18 0.19 0.2 ]
 [0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29 0.3 ]
 [0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4 ]
 [0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5 ]
 [0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6 ]
 [0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7 ]
 [0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8 ]
 [0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9 ]
 [0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98 0.99 1.  ]]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [20]:
arr=np.linspace(0, 1, 20)
print(arr)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [23]:
matrix= np.arange(1,26).reshape(5, 5)
print(matrix)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [24]:
array_2d = np.array([[12, 13, 14, 15],
                     [17, 18, 19, 20],
                     [22, 23, 24, 25]])
print(array_2d)

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

In [25]:
print(np.array(20))

20

In [27]:
print(np.arange(2,13,5).reshape(3,1))

[[ 2]
 [ 7]
 [12]]

In [28]:
print(np.arange(21,26))

[21 22 23 24 25]

In [29]:
print(np.arange(16,26).reshape(2, 5))

[[16 17 18 19 20]
 [21 22 23 24 25]]

### Now do the following

mat = array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### Get the sum of all the values in mat

In [31]:
print(np.sum(matrix))

325

#### Get the standard deviation of the values in mat

In [32]:
print(np.std(matrix))

7.211102550927978

#### Get the sum of all the columns in mat

In [33]:
print(np.sum(matrix, axis=0))

[55 60 65 70 75]

# Great Job!