# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [1]:
import numpy as np

#### Create an array of 10 zeros

In [2]:
arr = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0])

#### Create an array of 10 ones

In [5]:
arr1 = np.array((1, 10))

#### Create an array of 10 fives

In [4]:
arr_5 = np.full((1,10), 5)

#### Create an array of the integers from 10 to 50

In [10]:
int_arr = np.arange(10, 51)
print(int_arr)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### Create an array of all the even integers from 10 to 50

In [11]:
int_even_arr = np.arange(10, 51, 2)

#### Create a 3x3 matrix with values ranging from 0 to 8

In [14]:
matt = np.arange(0, 9).reshape(3, 3)
# print(mat)

#### Create a 3x3 identity matrix

In [31]:
array = np.identity(3)
print(array)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [17]:
random_num = np.random.randint(0, 1)

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [19]:
random_normal_num = np.random.normal(size = 25)

#### Create the following matrix:

In [23]:
req_matrix = np.arange(0.01, 1, 0.01)
print(req_matrix)

[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1  0.11 0.12 0.13 0.14
 0.15 0.16 0.17 0.18 0.19 0.2  0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28
 0.29 0.3  0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4  0.41 0.42
 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5  0.51 0.52 0.53 0.54 0.55 0.56
 0.57 0.58 0.59 0.6  0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7
 0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8  0.81 0.82 0.83 0.84
 0.85 0.86 0.87 0.88 0.89 0.9  0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98
 0.99]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [33]:
array = np.linspace(0, 1, 20)

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

20

array([[ 2],
       [ 7],
       [12]])

array([21, 22, 23, 24, 25])

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### Now do the following

mat = array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### Get the sum of all the values in mat

In [27]:
mat = np.array([[ 1, 2, 3, 4, 5], [ 6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]])
sum = np.sum(mat)
print(sum)

325

#### Get the standard deviation of the values in mat

In [29]:
std = np.std(mat)
print(std)

7.211102550927978

#### Get the sum of all the columns in mat

array([55, 60, 65, 70, 75])

# Great Job!